<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Edit Inventory</title>
</head>
<body>
<div align="center">
    <h1>Edit Product</h1>
    <br/>
    <form action="#" th:action ="@{/saveinventory}" method="POST" th:object="${inventoryModel}">
        <table border="0" cellpadding="10">
            <tr>
                <td>MedicineID:</td>
                <td><input type="text" th:field="*{medicineID}" readonly="readonly">
                    <input type="hidden" th:field="*{id}" ></td></td>
            </tr>
            <tr>
                <td>Medicine Name:</td>
                <td><input type="text" th:field="*{medicineName}"></td>
            </tr>
            <tr>
                <td>Cost: </td>
                <td><input type="text" th:field="*{cost}"></td>
            </tr>
            <tr>
                <td>Quantity: </td>
                <td><input type="text" th:field="*{quantity}"></td>
            </tr>
            <tr>
        <td colspan="2"><button type="submit">SAVE</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>